################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiPlayPen/packages
[Bb]in/
[Oo]bj/
[Dd]ebug/
*.suo
